.profile__info{
    display: grid;
    align-items: center;
    grid-template-columns: minmax(auto, max-content) 24px;
    grid-column-gap: 19px;
    grid-row-gap: 6px;
    grid-area: 1 / 2 / 3 / 2;
}
@media screen and (max-width: 1023px) {
    .profile__info{
        grid-area: 2 / 1 / 2 / 1;
        margin-top: 26px;
        grid-column-gap: 10px;
        justify-items: center;
    }
}
@media screen and (max-width: 767px) {
    .profile__info{
        grid-template-columns: minmax(213px, max-content) 24px;
    }
}