.profile__avatar{
    border-radius: 50%;
    cursor: pointer;
    grid-area: 1/1/3/1;
    max-width: 120px;
    height: 120px;
    position: relative;
    transition: all .4s ease;
    width: 100%;
    background-size: cover;
}
@media screen and (max-width: 1023px) {
    .profile__avatar{
        grid-area: 1 / 1 / 1 / 1;
    }
}