.popup__save-btn{
    width: 100%;
    background: #000000;
    border-radius: 2px;
    padding: 14px 124px 13px 125px;
    margin-top: 31px;
    border-width: 0;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.popup__save-btn:hover{
    opacity: 0.8;
    cursor: pointer;
}
@media screen and (max-width: 1023px) {
    .popup__save-btn{
        padding: 14px 82px 14px;
        font-size: 14px;
        line-height: 17px;
    }
}